body {
  font-family: "Verdana", sans-serif;
}

h1 {
  text-align: center;
}

input[type="text"] {
  background: url("public/search.png") no-repeat 2px center;
  padding: 6px;
  padding-left: 24px;
  width: 200px;
}

.tooltip {
  font-size: .6em;
  text-align: center;
  width: 200px;
  margin: 0px auto;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  background: white;
  z-index: 2;
  overflow-y: scroll;
  max-height: 500px;
  font-size: .8em;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #FFFFCC;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  border-top: 1px solid #AAAAAA;
  width: 230px;
  height: 50px;
}

.suggestion-content img {
  height: auto;
  width: 40px;
  padding: 10px;
}

.garbage {
  position: absolute;
  margin-top: -5px;
  height: 40px;
  width: 240px;
  background: white url("public/glyphicons-17-bin.png") no-repeat center center;
  border: 2px dashed #DDDDDD;
  visibility: hidden;
}

.garbage.visible {
  visibility: visible;
}

.garbage.hovered {
  background-color: #DDDDDD;
}

.board {
  margin-top: 10px;
  position: relative;
  height: 1000px;
  border: 1px solid #DDDDDD;
}

.board .piece-position {
  position: absolute;
}

.piece {
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 3px red;
}

.scorable {
  border: none;
  outline: none;
  border-color: green;
  box-shadow: 0 0 3px green;
}

.rotate {
  position: absolute;
  height: 24px;
  width: 27px;
  cursor: pointer;
  border: none;
}

.rotate-left {
  background: url("public/glyphicons-737-rotate-left.png");
}

.rotate-right {
  background: url("public/glyphicons-736-rotate-right.png");
}

.circle {
  border-radius: 50%;
}

.exit {
  position: absolute;
  height: 4px;
  width: 4px;
  z-index: 1;
  background-color: black;
}

.draggable {
  cursor: move;
}
