body {
  font-family: "Verdana", sans-serif;
}

h1 {
  text-align: center;
}

input[type="text"] {
  background: url("public/search.png") no-repeat 2px center;
  padding: 6px;
  padding-left: 24px;
  width: 200px;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  background: white;
}

.react-autosuggest__suggestions-list {
  list-style: none;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  border: 1px solid gray;
  width: 300px;
  height: 60px;
}

.suggestion-content img {
  height: auto;
  width: 50px;
}

.garbage {
  position: absolute;
  margin-top: -10px;
  height: 50px;
  width: 250px;
  background: white url("public/glyphicons-17-bin.png") no-repeat center center;
  border: 2px dashed #CCCCCC;
  visibility: hidden;
}

.garbage.visible {
  visibility: visible;
}

.garbage.hovered {
  background-color: #CCCCCC;
}

.board {
  position: relative;
  height: 500px;
}

.board .piece-position {
  position: absolute;
}

.piece {
  height: 100%;
  width: 100%;
  background-color: #999999;
  position: absolute;
}

.rotate {
  position: absolute;
  height: 24px;
  width: 27px;
  cursor: pointer;
  border: none;
}

.rotate-left {
  background: url("public/glyphicons-737-rotate-left.png");
}

.rotate-right {
  background: url("public/glyphicons-736-rotate-right.png");
}

.circle {
  border-radius: 50%;
}

.exit {
  position: absolute;
  height: 4px;
  width: 4px;
  z-index: 1;
  background-color: black;
}

.draggable {
  cursor: move;
}
