.auction .pieces {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #AAAAAA;
}

.auction .pieces div {
    margin: 10px;
}

.auction .slot {
    height: 300px;
    display: flex;
    align-items: center;
    background-color: #444444;
}

.auction .selected {
    visibility: hidden;
}

.board {
    position: relative;
    height: 500px;
}

.board .piece-position {
    position: absolute;
}

.continue {
    position: absolute;
    top: 300px;
    left: 100px;
}

.piece {
    height: 100%;
    width: 100%;
}

.rotate-left {
    background: url("public/glyphicons-737-rotate-left.png");
    height: 24px;
    width: 27px;
    cursor: pointer;
    border: none;
}

.rotate-right {
    background: url("public/glyphicons-736-rotate-right.png");
    height: 24px;
    width: 27px;
    cursor: pointer;
    border: none;
}

.circle {
    border-radius: 50%;
}


.selected {
    background-color: #999999;
    outline: 5px solid green;
}

.draggable {
    cursor: move;
}
